<div id="example-table"></div>

<%#= javascript_include_tag 'custom/index' %>
<script type="module">
    import { TabulatorFull as Tabulator } from "tabulator-tables";

    //define data array
    var tabledata = [
        <% @listing.each do |listing| %>
        {id:`<%= link_to listing.name, listing %>`, price:<%= listing.monthly_rental_price %>, num_bedrooms:<%= listing.num_bedrooms %>, num_bathrooms:<%= listing.num_bathrooms %>},
        <% end %>
    ];

    //initialize table
    var table = new Tabulator("#example-table", {
        data:tabledata, //assign data to table
        columns: [
            {title:"Name", field:"id", formatter:"html", sorter:"string", width:200},
            {title:"$/Mo", field:"price", sorter:"number", hozAlign:"right"},
            {title:"Beds", field:"num_bedrooms", sorter:"number", hozAlign:"right"},
            {title:"Baths", field:"num_bathrooms", sorter:"number", hozAlign:"right"},
        ]
    });


</script>