<div id="example-table"></div>

<%#= javascript_include_tag 'custom/index' %>
<script type="module">
    import { TabulatorFull as Tabulator } from "tabulator-tables";

    //define data array
    var tabledata = [
        <% @listing.each do |listing| %>
        {id:"<%= listing.name %>", price:<%= listing.monthly_rental_price %>, num_bedrooms:<%= listing.num_bedrooms %>, num_bathrooms:<%= listing.num_bathrooms %>},
        <% end %>
    ];

    //initialize table
    var table = new Tabulator("#example-table", {
        data:tabledata, //assign data to table
        autoColumns:true, //create columns from data field names
    });


</script>